body{
    background-color: black;
}

.mixer{
    border: 1px solid #eeffee;
    border-radius: 4px;
    background-color: #eee;
    margin-top: 15%;
    padding: 0.75em;
}

input[type="range"]{
    width: 76%;
}

.form-group{
    margin: 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    margin: 0.25em 0.5em;
}

.footer{
    color: whitesmoke;
    font-size: x-large;
    position: absolute;
    top: 3em;
    left: 12.5%;
}